*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

body{
    background:#090909;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:90%;
    max-width:420px;
    text-align:center;
    padding:25px;
    border-radius:20px;

    background:#111;

    box-shadow:
    0 0 15px #00e5ff,
    0 0 40px #8a2be2;
}

h1{
    color:#00e5ff;
    margin-bottom:10px;
    text-shadow:0 0 10px #00e5ff;
}

.sub{
    color:#ccc;
    margin-bottom:30px;
}

button{
    width:100%;
    padding:18px;
    font-size:22px;
    border:none;
    border-radius:15px;
    cursor:pointer;

    color:white;

    background:linear-gradient(
        45deg,
        #00e5ff,
        #8a2be2
    );

    box-shadow:
    0 0 15px #00e5ff;
}

button:active{
    transform:scale(.96);
}

#result{
    margin-top:30px;
    text-align:left;
    line-height:2;
    font-size:20px;
}
/* ===== レア演出 ===== */

.ssr{
    color:#FFD700;
    text-shadow:0 0 15px gold;
    animation: glow 1s infinite alternate;
}

.god{
    animation: rainbow 2s linear infinite;
    font-size:32px;
    font-weight:bold;
    text-shadow:0 0 20px white;
}

@keyframes glow{
    from{
        text-shadow:0 0 10px gold;
    }
    to{
        text-shadow:0 0 30px gold;
    }
}

@keyframes rainbow{
    0%{color:red;}
    20%{color:orange;}
    40%{color:yellow;}
    60%{color:lime;}
    80%{color:cyan;}
    100%{color:violet;}
}
#titleResult{
    margin-top:20px;
    font-size:28px;
    font-weight:bold;
    text-align:center;
    min-height:40px;
}

.title-r{
    color:white;
}

.title-sr{
    color:#00e5ff;
    text-shadow:0 0 10px #00e5ff;
}

.title-ssr{
    color:gold;
    text-shadow:0 0 20px gold;
}

.title-god{
    font-size:34px;
    animation:rainbow 2s linear infinite;
}
