*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

body{
    background:#090909;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:90%;
    max-width:420px;
    text-align:center;
    padding:25px;
    border-radius:20px;

    background:#111;

    box-shadow:
    0 0 15px #00e5ff,
    0 0 40px #8a2be2;
}

h1{
    color:#00e5ff;
    margin-bottom:10px;
    text-shadow:0 0 10px #00e5ff;
}

.sub{
    color:#ccc;
    margin-bottom:30px;
}

button{
    width:100%;
    padding:18px;
    font-size:22px;
    border:none;
    border-radius:15px;
    cursor:pointer;

    color:white;

    background:linear-gradient(
        45deg,
        #00e5ff,
        #8a2be2
    );

    box-shadow:
    0 0 15px #00e5ff;
}

button:active{
    transform:scale(.96);
}

#result{
    margin-top:30px;
    text-align:left;
    line-height:2;
    font-size:20px;
}
